<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
</head>
<body>
	<section>
	<div class="backimg">
		<div class="container p-5 mt-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card paint-card">
						<div class="card-body">
							<h1 class="form-signin-heading text-center"><span style="color: #871976; font-family: Monotype Corsiva;"> Forgot Password</span></h1>
							
							<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text success">[[${session.msg}]]</p>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
							</th:block>
							
							<hr>
							<form class="form-signin" method="post" th:action="@{/forgotPassword}">



								<div class="form-group">
									<label><b>Email Address</b></label>
									<input type="text" id="username"
										name="email" class="form-control mt-3" placeholder="Enter Email Address" required autofocus>
								</div>
								
								
								<button class="btn btn-light col-md-12 mt-3 text-white" style="width: 100px; background-color: #00897b; border-color: #07302c;" type="submit">Submit
									</button>
											
							</form>
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>